In [8]:
import pandas as pd
df = pd.DataFrame()

In [11]:
df = pd.read_excel('db/jee-mains.xlsx')

In [15]:
print(df.head(2))

   Year  Exam_Date                Name Category Sex          State  \
0  2013 2013-04-21    Tristan Bhandari  General   F  Uttar Pradesh
1  2013 2013-04-18  Rehaan Rajagopalan  General   M      Rajasthan

   Maths_Marks  Physics_Marks  Chemistry_Marks  Total_Marks  Rank  Percentile
0           75             83               48          206    78   51.572327
1           71             85               62          218    66   59.119497

In [18]:
print(df.tail(2))

       Year  Exam_Date           Name  Category Sex        State  Maths_Marks  \
25998  2025 2025-04-16  Aadhya Sankar  Reserved   M  West Bengal           65
25999  2025 2025-04-17  Samarth Dugar   General   M    Rajasthan           78

       Physics_Marks  Chemistry_Marks  Total_Marks  Rank  Percentile
25998             99               61          225    51   65.753425
25999             49               50          177   104   34.394904

In [19]:
print(df.shape)

(26000, 12)

In [20]:
print(df.info)

<bound method DataFrame.info of        Year  Exam_Date                Name  Category Sex           State  \
0      2013 2013-04-21    Tristan Bhandari   General   F   Uttar Pradesh
1      2013 2013-04-18  Rehaan Rajagopalan   General   M       Rajasthan
2      2013 2013-04-19     Yatin Natarajan   General   F       Rajasthan
3      2013 2013-04-21        Peter Bhalla  Reserved   F   Uttar Pradesh
4      2013 2013-04-17       Jairaj Mannan   General   M         Gujarat
...     ...        ...                 ...       ...  ..             ...
25995  2025 2025-04-17  Ronith Chakraborty   General   M     West Bengal
25996  2025 2025-04-17        Mitali Nayak   General   M   Uttar Pradesh
25997  2025 2025-04-18     Ijaya Sabharwal  Reserved   F  Madhya Pradesh
25998  2025 2025-04-16       Aadhya Sankar  Reserved   M     West Bengal
25999  2025 2025-04-17       Samarth Dugar   General   M       Rajasthan

       Maths_Marks  Physics_Marks  Chemistry_Marks  Total_Marks  Rank  \
0               75             83               48          206    78
1               71             85               62          218    66
2               67             94               73          234    50
3               52             71               66          189    85
4               40             65               65          170   114
...            ...            ...              ...          ...   ...
25995           70             89               41          200    81
25996           74             51               58          183    98
25997           41             87               32          160   116
25998           65             99               61          225    51
25999           78             49               50          177   104

       Percentile
0       51.572327
1       59.119497
2       69.182390
3       39.130435
4       28.930818
...           ...
25995   49.044586
25996   38.216561
25997   21.232877
25998   65.753425
25999   34.394904

[26000 rows x 12 columns]>

In [21]:
print(df.describe)

<bound method NDFrame.describe of        Year  Exam_Date                Name  Category Sex           State  \
0      2013 2013-04-21    Tristan Bhandari   General   F   Uttar Pradesh
1      2013 2013-04-18  Rehaan Rajagopalan   General   M       Rajasthan
2      2013 2013-04-19     Yatin Natarajan   General   F       Rajasthan
3      2013 2013-04-21        Peter Bhalla  Reserved   F   Uttar Pradesh
4      2013 2013-04-17       Jairaj Mannan   General   M         Gujarat
...     ...        ...                 ...       ...  ..             ...
25995  2025 2025-04-17  Ronith Chakraborty   General   M     West Bengal
25996  2025 2025-04-17        Mitali Nayak   General   M   Uttar Pradesh
25997  2025 2025-04-18     Ijaya Sabharwal  Reserved   F  Madhya Pradesh
25998  2025 2025-04-16       Aadhya Sankar  Reserved   M     West Bengal
25999  2025 2025-04-17       Samarth Dugar   General   M       Rajasthan

       Maths_Marks  Physics_Marks  Chemistry_Marks  Total_Marks  Rank  \
0               75             83               48          206    78
1               71             85               62          218    66
2               67             94               73          234    50
3               52             71               66          189    85
4               40             65               65          170   114
...            ...            ...              ...          ...   ...
25995           70             89               41          200    81
25996           74             51               58          183    98
25997           41             87               32          160   116
25998           65             99               61          225    51
25999           78             49               50          177   104

       Percentile
0       51.572327
1       59.119497
2       69.182390
3       39.130435
4       28.930818
...           ...
25995   49.044586
25996   38.216561
25997   21.232877
25998   65.753425
25999   34.394904

[26000 rows x 12 columns]>

In [22]:
print(df.columns)

Index(['Year', 'Exam_Date', 'Name', 'Category', 'Sex', 'State', 'Maths_Marks',
       'Physics_Marks', 'Chemistry_Marks', 'Total_Marks', 'Rank',
       'Percentile'],
      dtype='object')

In [23]:
print(df.index)

RangeIndex(start=0, stop=26000, step=1)